* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	/* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display: flex;

}

.reel-header a {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;

}

.reel-header .play {
	position: absolute;
	left: 20px;
	color: #fff;
}

.seguiti a {
	position: relative;
}

.seguiti a::after {
	content: '';
	position: absolute;
	top: -6px;
	right: -10px;
	width: 6px;
	height: 6px;
	background-color: #fe2c55;
	border-radius: 50%;
}


.reel-header ul {
	display: flex;
	list-style: none;
	gap: 15px;
	justify-content: space-between;
}

.per-te:hover {
	color: #fff;
	border-bottom: 2px solid white;
	padding: 4px;
}















/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	background-color: #000;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

}

footer a {
	color: inherit;
	text-decoration: none;
	font-size: 19px;
	position: relative;
}

footer div:not(.add) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 4px;



}

span {
	font-size: 13px;
	color: #fff;
}

.posta {
	position: absolute;
	background-color: #fe2c55;
	border: 2px solid black;
	border-radius: 65%;
	width: 19px;
	height: 14px;
	font-size: 8px;
	text-align: center;
	bottom: 31px;
	right: 138px;

}

.add {
	position: relative;
	width: 45px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px;

}

.add::before {
	content: '';
	position: absolute;
	top: 0;
	left: -3px;
	width: 100%;
	height: 100%;
	background-color: #25f4ee;
	border-radius: 8px;
	z-index: 1;

}

.add::after {
	content: '';
	position: absolute;
	top: 0;
	right: -3px;
	width: 100%;
	height: 100%;
	background-color: #fe2c55;
	border-radius: 8px;
	z-index: 1;

}

.add a {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	font-size: 20px;
	z-index: 2;
	text-decoration: none;
}




/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;

}



.logo-conteiner {
	width: 45px;
	height: 45px;
	position: relative;
}

.boolean-logo {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.add-button {

	position: absolute;
	bottom: -9px;
	left: 30%;
	width: 20px;
	height: 20px;
	background-color: #fe2c55;
	color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	border: 2px solid #000;
}

.sidebar>div {
	width: 45px;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.sidebar a:not(.add-button) {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-decoration: none;
	width: 45px;
	height: 45px;

}

.sidebar i {
	font-size: 24px;
}

.number,
.number-chat,
.number-saved,
.number-repost {
	font-size: 12px;
	color: #fff;
}






























/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */







/* --------------------- */